
.row
  .channel-player

    .channel-preview
      img(ng-src="{{ vm.default_category_image() }}" class="channel-preview__image img-responsive" alt="{{ ::vm.current.name}}")

    .channel-player__caption
      .row
        .col-sm-offset-1.col-sm-5.col-xs-12
          p.channel-player__head Watch latest episode
          .channel-preview
            img(ng-src="{{ vm.default_image() }}" alt="{{ vm.current.name }}" class="img-responsive channel-preview__image")
            p.channel-preview__title {{ ::vm.current.name }}
            p.channel-preview__duration.pa-sm {{ ::vm.current.duration | timerFilter }}
        .col-sm-5
          p.channel-player__desc {{ ::vm.category.description }}


.container.mt-big
  cms-category-x2(items="vm.assets", caption="Episodes")


//
  .channel_playlist.ma-lg
    .row.mt-lg
      .assets(ng-repeat="asset in ::vm.category.assets")
        cms-asset(asset="::asset")


