
.col-xs-12.col-sm-4.col-md-3.col-lg-2.asset.mb-lg.pb-md
  .asset__wrap(cms-popup callback="do")
    a.asset__item(href="#item")
      .asset-image
        img.asset-image__image.img-responsive(ng-src="{{asset.preview_image_url}}")
      .asset__meta.pa-md
        p.asset__title.pb-sm.m0 {{ asset.name }}
        p.asset__description {{ asset.description }}
    button.btn.btn-default Dynamic Popover
    .asset__overlay
      img.asset__play(src="/assets/images/btn_play_100.png")
