
.m0 { margin: 0; }
.mt-lg { margin-top:    20px; }
.ml-lg { margin-left:   20px; }
.mb-lg { margin-bottom: 20px; }
.mr-lg { margin-right:  20px; }
.mt-md { margin-top:    10px; }
.ml-md { margin-left:   10px; }
.mb-md { margin-bottom: 10px; }
.mr-md { margin-right:  10px; }
.mt-sm { margin-top:    5px; }
.ml-sm { margin-left:   5px; }
.mb-sm { margin-bottom: 5px; }
.mr-sm { margin-right:  5px; }
.ma-lg { margin:        20px; }
.ma-md { margin:        10px; }
.ma-sm { margin:        5px; }

.pt-lg { padding-top:    20px; }
.pl-lg { padding-left:   20px; }
.pb-lg { padding-bottom: 20px; }
.pr-lg { padding-right:  20px; }
.pt-md { padding-top:    10px; }
.pl-md { padding-left:   10px; }
.pb-md { padding-bottom: 10px; }
.pr-md { padding-right:  10px; }
.pt-sm { padding-top:    5px; }
.pl-sm { padding-left:   5px; }
.pb-sm { padding-bottom: 5px; }
.pr-sm { padding-right:  5px; }
.pa-lg { padding:        20px; }
.pa-md { padding:        10px; }
.pa-sm { padding:        5px; }


.main-content {
  margin-top: 50px;
}
