
.m0 { margin: 0; }
.mt-big { margin-top:    30px; }
.ml-big { margin-left:   30px; }
.mb-big { margin-bottom: 30px; }
.mr-big { margin-right:  30px; }
.mt-lg  { margin-top:    20px; }
.ml-lg  { margin-left:   20px; }
.mb-lg  { margin-bottom: 20px; }
.mr-lg  { margin-right:  20px; }
.mt-md  { margin-top:    10px; }
.ml-md  { margin-left:   10px; }
.mb-md  { margin-bottom: 10px; }
.mr-md  { margin-right:  10px; }
.mt-md2 { margin-top:    15px; }
.ml-md2 { margin-left:   15px; }
.mb-md2 { margin-bottom: 15px; }
.mr-md2 { margin-right:  15px; }
.mt-sm  { margin-top:    5px; }
.ml-sm  { margin-left:   5px; }
.mb-sm  { margin-bottom: 5px; }
.mr-sm  { margin-right:  5px; }
.ma-big { margin:        30px; }
.ma-lg  { margin:        20px; }
.ma-md  { margin:        10px; }
.ma-md2 { margin:        15px; }
.ma-sm  { margin:        5px; }

.pt-big { padding-top:    30px; }
.pl-big { padding-left:   30px; }
.pb-big { padding-bottom: 30px; }
.pr-big { padding-right:  30px; }
.pt-lg  { padding-top:    20px; }
.pl-lg  { padding-left:   20px; }
.pb-lg  { padding-bottom: 20px; }
.pr-lg  { padding-right:  20px; }
.pt-md  { padding-top:    10px; }
.pl-md  { padding-left:   10px; }
.pb-md  { padding-bottom: 10px; }
.pt-md2 { padding-top:    15px; }
.pl-md2 { padding-left:   15px; }
.pb-md2 { padding-bottom: 15px; }
.pr-md2 { padding-right:  15px; }
.pt-sm  { padding-top:    5px; }
.pl-sm  { padding-left:   5px; }
.pb-sm  { padding-bottom: 5px; }
.pr-sm  { padding-right:  5px; }
.pa-big { padding:        30px; }
.pa-lg  { padding:        20px; }
.pa-md  { padding:        10px; }
.pa-md2 { padding:        15px; }
.pa-sm  { padding:        5px; }


.main-content {
  margin-top: 70px;
}

.container-fluid-site {
  margin-right: auto;
  margin-left: auto;
}

.btn-black:active,
.btn-black:focus,
.btn-black {
  color: #FFF;
  background-color: #222;
  border-color: #222;
}
.btn-black:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
