
.slider__item {
  position: relative;
  display: inline-block;
  width: 100vw;
}

/*
.slider .slick-prev,
.slider .slick-next,
 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  border: none;
}
*/

.slider .slick-prev {
  left: 20px;
}
.slider .slick-prev:before {
  font-size: 50px;
}
.slider .slick-next {
  right: 50px;
}
.slider .slick-next:before {
  font-size: 50px;
}
