.slick-slider {
  max-height: none;
}

.slider__item {
  position: relative;
  display: inline-block;
  width: 100vw;
  /* max-height: 640px; */
  vertical-align: top;
}

.slider__item-link {
  display: block;
}

.slider__head-wrapper {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 600px;
}

.slider__head {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 7px;
}

.slider__title {
  font-size: 38px;
}
.slider__description {
  font-size: 18px;
}

/*
.slider__descr {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 32px;
}
*/

/*
.slider .slick-prev,
.slider .slick-next,
 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  border: none;
}
*/

.slider__item-image {
  width: 100%;
}

.slider .slick-prev {
  left: 20px;
}
.slider .slick-prev:before {
  font-size: 50px;
}
.slider .slick-next {
  right: 50px;
}
.slider .slick-next:before {
  font-size: 50px;
}

.slider__button-wrapper .btn-trans {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
}
