.row
  slick.slider(infinite="false" data="ctrl.playlist" arrows="true" variable-width="true" init-onload="false" )
    .slider__item(ng-repeat="item in ctrl.playlist")
      a.slider__item-link(ui-sref="home.asset({slug: item.category, asset: item.slug})")
        img.slider__item-image.img-responsive(ng-src="{{ item.defaultImage() }}")
