slick.slider(infinite="false" data="ctrl.playlist" arrows="true" variable-width="true" init-onload="false" )
  .slider__item(ng-repeat="item in ::ctrl.playlist track by item.embed_code")
    .slider__item-link
      .slider__head-wrapper
        .slider__head(ng-if="ctrl.hasHead(item)")
          p.slider__title {{ ::item.name }}
          p.slider__description {{ ::item.description }}
        .slider__button-wrapper.mt-lg(ng-if="ctrl.hasCustomButton(item)")
          a.btn.btn-trans(href="{{::item.metadata.ButtonLink}}" ng-attr-target="{{ctrl.isRemoteLink(item)}}") {{::item.metadata.ButtonTitle}}
      img.slider__item-image.img-responsive(ng-src="{{ ::item.defaultImage }}")
