.row.carousel
  .col-xs-12
    .carousel__arrows.pull-right
      ul.list-inline
        li.prev-button &larr;
        li.next-button &rarr;
    p.carousel__caption.pb-sm.mb-lg {{ ::ctrl.caption }}
  .col-xs-12
    .wrapper
      slick.carousel(infinite="false" data="ctrl.playlist" arrows="false" variable-width="true" init-onload="false" )
        .carousel__group.carousel__group--big(ng-if="ctrl.mainAsset" cms-popup template="asset-popup")
          .carousel__group-item.mb-md.mr-md
            img(class="carousel__image img-responsive" ng-src="{{ ::ctrl.defaultImage(ctrl.mainAsset) }}" alt="{{ ::ctrl.mainAsset.name }}")
            p.carousel__title {{ ::ctrl.mainAsset.name }}
            p.carousel__duration.pa-sm {{ ::ctrl.mainAsset.duration | timerFilter }}
        .carousel__group(ng-repeat="group in ctrl.playlist")
          .carousel__group-item.mb-md.mr-md(ng-repeat="item in group" cms-popup template="slider-item-popup" follow-link="ctrl.followLink")
            img(class="carousel__image img-responsive" ng-src="{{ item.defaultImage }}" alt="{{ ::item.name }}")
            p.carousel__title {{ ::item.name }}
            p.carousel__duration.pa-sm {{ ::item.duration | timerFilter }}




