
.channel__link {
  display: block;
  color: $base-font-color;
  font: 400 18px/1.4 Ubuntu, Helvetica, sans-serif;
}

.channel__description {
  font: $channel-desc;
  height: 40px;
  overflow: hidden;
}

.channel__image-link {
  overflow: hidden;
  display: block;
}

@media(min-width: 768px) {
  .channel {
    overflow: hidden;
    height:222px
  }
  .home-categories .channel {
    height: 180px;
  }
}

.channel__title {
  font: $font-title;
  text-transform: uppercase;
  border-bottom: 3px solid $gray2;
}

