.mt-big{
  /*height:330px;
  overflow:hidden;*/

}


.channel__link {
  display: block;
  color: $base-font-color;
  font: $asset-title;
}

.channel__description {
  font: $channel-desc;
  height: 40px;
  overflow: hidden;
}

.channel__image-link {
  overflow: hidden;
  display: block;
}

@media(min-width: 768px) {
  .channel {
    overflow: hidden;
    height:305px
  }
  .channel__image-link {
    height: 150px;
  }
}

.channel__title {
  font: $font-title;
  text-transform: uppercase;
  border-bottom: 3px solid $gray2;
}

