.mt-big{
  /*height:330px;
  overflow:hidden;*/
 
}
.channel {
  overflow: hidden;
 height:305px
}

.channels.mb-lg{
  height:300px;
}

.channel__link {
  display: block;
  color: $base-font-color;
  font: $asset-title;
}

.channel__description {
  font: $channel-desc;
  height: 40px;
  overflow: hidden;
}

.channel__image-link {
  max-height: 250px;
  overflow: hidden;
  display: block;
}

@media(min-width: 748px) {
  .channel__image-link {
    height: 150px;
  }
}

.carousel {
  margin: 0 !important;
  padding: 0 !important;
}
.channel__title,
.carousel__caption {
  font: $font-title;
  text-transform: uppercase;
  border-bottom: 3px solid $gray2;
}
.carousel__group {
  position: relative;
  display: inline-block;
  width: 245px;
}

.carousel__group-item {
  position: relative;
  height: 130px;
  max-width: 235px;
  overflow: hidden;
  background-color: #000;
}
.carousel__group--big {
  height: 280px;
  width: 480px;
  overflow: hidden;
}
.carousel__group--big .carousel__group-item {
  position: relative;
  height: 270px;
  max-width: 480px;
  overflow: hidden;
  background-color: #000;
}

.carousel__image {
  margin: 0 auto;
}

.carousel__title {
  position: absolute;
  bottom: 0;
  left: 15px;
  font: $channel-carousel-title;
  color: $channel-carousel-title-color;
}

.carousel__duration {
  position: absolute;
  top: 10px;
  right: 20px;
  font: $channel-carousel-duration;
  color: $channel-carousel-title-color;
  background-color: rgba(0,0,0,0.5);
}

.carousel__arrows li {
  border: 1px solid #444;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 3px 8px;
}
