.row.carousel
  .col-xs-12
    .carousel__arrows.pull-right
      ul.list-inline
        li.prev-button &larr;
        li.next-button &rarr;
    p.carousel__caption.pb-sm.mb-lg {{ ::ctrl.caption }}
  .col-xs-12
    .wrapper.slider__simple
      slick.carousel(infinite="true" data="ctrl.grp_playlist" arrows="false" variable-width="true" init-onload="false" slides-to-show="4" slides-to-scroll="1" responsive="[{breakpoint: 1200, settings: {slidesToShow: 7, slidesToScroll: 1}},{breakpoint: 992, settings: {slidesToShow: 4, slidesToScroll: 1}}, {breakpoint: 768, settings:{slidesToShow: 3, slidesToScroll: 1}}]" )
        .carousel__group.carousel__group--big(ng-if="ctrl.mainAsset" cms-popup template="asset-popup")
          .carousel__group-item.mb-md.mr-md
            img(class="carousel__image img-responsive" ng-src="{{ ::ctrl.defaultImage('small') }}" alt="{{ ::ctrl.mainAsset.name }}")
            p.carousel__title {{ ::ctrl.mainAsset.name }}
            p.carousel__duration.pa-sm {{ ::ctrl.mainAsset.duration | timerFilter }}
        .carousel__group(ng-if="ctrl.isKind('regular')" ng-repeat="group in ctrl.grp_playlist")
          .carousel__group-item.mb-md.mr-md(ng-repeat="item in group" cms-popup template="slider-item-popup" follow-link="ctrl.followLink")
            img(class="carousel__image img-responsive" ng-src="{{ item.defaultImage('small') }}" alt="{{ ::item.name }}")
            p.carousel__title {{ ::item.name }}
            p.carousel__duration.pa-sm {{ ::item.duration | timerFilter }}
        .carousel__single(ng-if="ctrl.isKind('single')" ng-repeat="item in ctrl.grp_playlist")
          .carousel__single-item.mb-md.mr-md(cms-popup template="slider-item-popup" follow-link="ctrl.followLink")
            img(class="carousel__image img-responsive" ng-src="{{ item.defaultImage('small') }}" alt="{{ ::item.name }}")
            p.carousel__title {{ ::item.name }}
            p.carousel__duration.pa-sm {{ ::item.duration | timerFilter }}
