.pagead
  .ar-desktop
    cms-billboard-ad(class="mt-lg pb-lg" adspot="div-gpt-ad-728x90-0" )
  .ar-mobile
    cms-billboard-ad(class="mt-lg pb-lg" adspot="div-gpt-ad-320x250-0" )

.row.footer.mt-big
  .col-xs-12
    .footer-wrap
      img(src="/assets/images/saltlogo.png" alt="SaltWater.tv" height="40")
      ul.list-inline.footer__links.ml-lg
        li
          a.footer__link(ui-sref="home.pages({slug:'about-us'})") About Us
        li
          a.footer__link(ui-sref="home.pages({slug:'terms-of-use'})") Terms of Use
        li
          a.footer__link(ui-sref="home.pages({slug:'bonnier-corporation-privacy-policy'})") Privacy Policy
        li
          a.footer__link(ui-sref="home.pages({slug:'reporting-abuse'})") Abuse
