.row.footer
  .col-xs-12
    .footer-wrap
      strong Driven
      span  to Fish
      ul.list-inline.footer__links.ml-lg
        li
          a.footer__link(ui-sref="home.pages({slug:'terms-of-use'})") Terms of Use
        li
          a.footer__link(ui-sref="home.pages({slug:'bonnier-corporation-privacy-policy'})") Privacy Policy
        li
          a.footer__link(ui-sref="home.pages({slug:'reporting-abuse'})") Abuse
