
.navbar-inverse {
  background-color: $header-color;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  border-top: 3px solid $violet;
  min-height: 70px;
}

.navbar-brand {
  padding: 14px 15px;
}

.footer {
  height: 50px;
  background-color: $header-color;
  color: #fff;
}

.footer-wrap {
  font: $footer-title;
  line-height: 50px;
}
