
.navbar-inverse {
  background-color: $header-color;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  border-top: 3px solid $violet;
  min-height: $header-height;
}

.navbar-brand {
  padding: 14px 15px;
}

.footer {
  height: $footer-height;
  background-color: $header-color;
  color: #fff;
}

.footer-wrap {
  font: $footer-title;
  line-height: 48px;
}

.footer__links {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}
.footer__link:visited,
.footer__link {
  color: #9d9d9d;
}
.footer__link:hover {
  color: #fff;
  text-decoration: underline;
}

.main-menu {
  margin-top: 10px;
  font-size: 20px;
}

.navbar__sponsor {
  width: 150px;
  height: 74px;
  position: absolute !important;
  top: 0;
  right: 40px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a054b8+0,a054b8+40,7d4793+100 */
  background: #a054b8; /* Old browsers */
  background: -moz-linear-gradient(top, #a054b8 0%, #a054b8 40%, #7d4793 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a054b8 0%,#a054b8 40%,#7d4793 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a054b8 0%,#a054b8 40%,#7d4793 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a054b8', endColorstr='#7d4793',GradientType=0 ); /* IE6-9 */
}

 .navbar__sponsor-img {
  margin: 0 auto;
  display: block;
  padding-top: 10px;
    position: absolute;
  z-index: +999;
  right: 62px;
}

.navbar-select {
  background-color: inherit;
  border: 2px solid #495E71;
  color: #aaa;
  margin-top: 7px;
}
.navbar-select:focus {
  /* border-color: #66afe9; */
  border: 2px solid #495E71;
  box-shadow: none;
  outline: 0;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); */
}

