
.slider-wrapper
  cms-slider(playlist="vm.featured")

.container
  .mt-big
    cms-category-x2(items="vm.assets['aqua-lung-scuba-2015'].playList", category="vm.assets['aqua-lung-scuba-2015'].category" caption="Aqua Lung Scuba 2015")

  .mt-big
    cms-category-x2(items="vm.assets['costa-rica'].playList", category="vm.assets['costa-rica'].category" main-asset="vm.assets['costa-rica'].main", caption="Costa Rica", kind="big")

  .mt-big
    cms-category(items="::vm.categories", caption="Channels")
