

.container
  .mt-big
    cms-category-x2(items="vm.assets['scubalab-tv'].playList", category="vm.assets['scubalab-tv'].category" caption="Scubalab TV")

  .mt-big
    cms-category-x2(items="vm.assets['boat-buyers-guide-2016'].playList", category="vm.assets['boat-buyers-guide-2016'].category" main-asset="vm.assets['boat-buyers-guide-2016'].main", caption="Boat Buyers Guide-2016", kind="big")

  .mt-big
    cms-category(items="::vm.categories", caption="Channels")
