.slider-wrapper
  cms-slider(playlist="vm.featured")

.container
  .mt-big(ng-if="vm.assets['featured'].playList.length > 0")
    cms-category-x2(items="vm.assets['featured'].playList", category="vm.assets['featured'].category" caption="Promoted Shows")

  .mt-lg
    cms-billboard-ad(class="mt-lg pb-lg")

  .mt-big
    cms-category(items="::vm.series", caption="Shows")
