
.channel {
  height: 250px;
  overflow: hidden;
}

.channel-title {
  font: $font-title;
  text-transform: uppercase;
  border-bottom: 3px solid $gray2;
}

.channel__link {
  display: block;
  color: $base-font-color;
  font: $asset-title;
}

.channel__description {
  font: $channel-desc;
  height: 40px;
  overflow: hidden;
}

.carousel__group {
  position: relative;
  display: inline-block;
}

.carousel__group-item {
  position: relative;
  max-height: 150px;
  max-width: 312px;
  overflow: hidden;
}

.carousel__title {
  position: absolute;
  bottom: 0;
  left: 15px;
  font: $channel-carousel-title;
  color: $channel-carousel-title-color;
}

.carousel__duration {
  position: absolute;
  top: 10px;
  right: 20px;
  font: $channel-carousel-duration;
  color: $channel-carousel-title-color;
  background-color: rgba(0,0,0,0.5);
}
