.row.channels
  p.channel__title.pb-sm.mb-lg.ml-md2.mr-md2 {{ ::ctrl.caption }}
  .col-xs-6.col-sm-4.col-md-3.channel.mb-lg(ng-repeat="cat in ::ctrl.items")
    a.channel__image(ui-sref="home.serie({slug: cat.slug})")
      img(class="img-responsive" ng-src="{{ ::ctrl.defaultImage() }}" alt="{{ ::cat.title }}")
    a.channel__link.mt-sm.mb-sm(ui-sref="home.serie({slug: cat.slug})") {{ ::cat.title }}
    .channel__description
      p {{ ::cat.description }}

