.category(ng-repeat="cat in items")
  a(ui-sref="home.category({slug: cat.slug})") {{ cat.name }}

  .subcategory(ng-if="cat.subcategories.length > 0")
    p has subcategories
    cms-category(items="cat.subcategories")
