
$base-font-color: #000000;
$background-color: #ffffff;
$header-color: #32485D;
$blue-color: #0084b6;
$black-color: #000406;
$gray1: #343435;
$gray2: #e3e3e3;
$gray-light: #A4A6A7;
$violet: #9A56BB;
$blue-light: #E6E7EB;
$blue-dark: #160D0E;

$channel-title-color: #ffffff;
$channel-carousel-title-color: #ffffff;
$channel-desc-color: #666;

$font-title: 400 26px/1.4 Ubuntu, Helvetica, sans-serif;
$asset-title: 400 18px/1.4 Ubuntu, Helvetica, sans-serif;
$asset-meta: 400 12px/1.6 Ubuntu, Helvetica, sans-serif;
$channel-desc: 400 16px/1.4 Ubuntu, Helvetica, sans-serif;
$channel-carousel-title: 400 16px/1.4 Ubuntu, Helvetica, sans-serif;
$channel-carousel-duration: 400 14px/1.4 Ubuntu, Helvetica, sans-serif;
$channel-head-title: 400 20px/1.4 Ubuntu, Helvetica, sans-serif;
$popup-title: 400 14px/1.4 Ubuntu, Helvetica, sans-serif;
$popup-description: 400 13px/1.4 Ubuntu, Helvetica, sans-serif;

