
$header-height: 100px;
$footer-height: 50px;

$base-font-color: #000000;
$background-color: #ffffff;
$header-color: #32485D;
$blue-color: #0084b6;
$black-color: #000406;
$gray1: #343435;
$gray2: #e3e3e3;
$gray-light: #A4A6A7;
$violet: #9A56BB;
$blue-light: #E6E7EB;
$blue-dark: #160D0E;

$channel-title-color: #ffffff;
$channel-carousel-title-color: #ffffff;
$channel-desc-color: #666;

$serie-font-title:          300 26px/1.4 Helvetica Neue, Helvetica, sans-serif;
$font-title:                300 26px/1.4 Helvetica Neue, Helvetica, sans-serif;
$asset-title:               300 22px/1.4 Ubuntu, Helvetica, sans-serif;
$asset-meta:                300 14px/1.6 Ubuntu, Helvetica, sans-serif;
$channel-desc:              300 16px/1.4 Helvetica Neue, Helvetica, sans-serif;
$channel-carousel-title:    300 16px/1.4 Helvetica Neue, Helvetica, sans-serif;
$channel-carousel-duration: 300 14px/1.4 Helvetica Neue, Helvetica, sans-serif;
$channel-head-title:        300 20px/1.4 Helvetica Neue, Helvetica, sans-serif;
$popup-title:               300 14px/1.4 Ubuntu, Helvetica, sans-serif;
$popup-description:         300 13px/1.4 Ubuntu, Helvetica, sans-serif;
$footer-title:              300 20px/1.4 Ubuntu, Helvetica, sans-serif;
$search-result-notfound:    300 20px/1.4 Ubuntu, Helvetica, sans-serif;

