
$base-font-color: #404040;
$background-color: #ffffff;
$gray1: #343435;
$gray2: #eeeeee;
$gray-light: #A4A6A7;

$channel-title-color: #ffffff;

$font-title: 700 26px/1.4 Oswald, Helvetica, sans-serif;
$asset-title: 400 18px/1.4 Oswald, Helvetica, sans-serif;
$asset-meta: 400 12px/1.4 Roboto, Helvetica, sans-serif;
$channel-desc: 400 14px/1.4 Roboto, Helvetica, sans-serif;

