.serie__header {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 20px;

  h1 {
    margin: 0;
  }
}

.slider__simple {
  .slick-prev:before, .slick-next:before {
    color: #333;
    font-size: 25px;
  }
}
