.row
  .serie__header(style="background-image:url({{vm.serie.defaultImage}})")
      h1 {{ vm.serie.title }}
      p {{ vm.serie.description }}
      p Rating: {{ vm.serie.rating }}

.container
  .mt-big(ng-repeat="season in ::vm.seasons")
    h3 {{ season.title }}
    p {{ season.description }}
    cms-season(playlist="season.episodes" onplay="vm.slplay(item)")
    
  .mt-lg
    cms-billboard-ad(class="mt-lg pb-lg")

  .mt.big
    h3 Footages
    cms-season(playlist="vm.serie.footages" onplay="vm.slplay(item)")
