.serie__player {
  background-color: #000;
}
.serie__caption {
  background-color: $blue-color;
}

.serie__detail__header {
  background-color: $blue-color;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.serie__player-wrap {
  background-color: #000;
}

