.serie__player {
  background-color: #000;
}
.serie__player > div {
  float: none;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}


.serie__caption {
  background-color: #111111;
}

.serie__detail__header {
  background-color: #111111;
  color: #fff;
  /*font-family: 'Ubuntu', sans-serif;*/
  h1{
  font:$serie-font-title;
  }
  p{
  font:$channel-desc;
  margin-bottom:20px;
  }
}

.serie__player-wrap {
  background-color: #000;
}


@media (min-width: 992px) {

  .serie__player > div:first-child {
    width: 65%;
  }

}

@media (min-width: 768px) {
  .col-sm-7 {
      width: 57%;
  }
}
