.row
  .col-xs-12.col-sm-8.serie__player-wrap
    cms-player(episode="::vm.episode" playlist="::vm.season.episodes")
  .col-xs-12.col-sm-4
    cms-billboard-ad(class="mt-lg pb-lg" adsize="square")

.row
  .serie__detail__header
    h1 {{ vm.episode.name }}
    p {{ vm.episode.description }}
    p Season: {{ vm.season.name }}
    p Episode: {{ vm.episode.number }}
    p Rating: {{ vm.episode.rating }}
    // p Duration: {{ vm.episode.duration | timerFilter }}

.container
  .mt-lg
    cms-billboard-ad(class="mt-lg pb-lg")

  .mt-big
    cms-category-x2(playlist="::vm.season_episodes" caption="Season" follow-link="false" onplay="vm.play(options)")

  .mt-big
    cms-category-x2(playlist="::vm.discovery" caption="Trending" follow-link="false" onplay="vm.play(options)")

