.row.serie__player
  .col-xs-12.col-sm-7.col-md-8.serie__player-wrap
    cms-player(episode="::vm.episode" playlist="::vm.season.episodes" options='{"autoplay": true}')
  .hidden-xs.col-sm-5.col-md-4.ar-desktop
    cms-billboard-ad(class="center-block adspot" adspot="div-gpt-ad-300x250-0" )
.row.serie__caption
  .col-xs-12.col-md-8
    .serie__detail__header.pl-lg.pr-lg
      h1 {{ vm.episode.name }}
      p {{ vm.episode.description }}
      p Season: {{ vm.season.name }}
      p Episode: {{ vm.episode.number }}
      p Rating: {{ vm.episode.rating }}
      // p Duration: {{ vm.episode.duration | timerFilter }}

.container
  .mt-lg.ar-desktop
    cms-billboard-ad(class="mt-lg pb-lg center-block adspot" adspot="div-gpt-ad-970x250-0")
  .mt-lg.ar-mobile
    cms-billboard-ad(class="center-block adspot" adspot="div-gpt-ad-300x250-0")

  .mt-big
    cms-category-x2(playlist="::vm.season.episodes" caption="Season" follow-link="false" onplay="vm.play(options)")

  .mt-big
    cms-category-x2(playlist="::vm.discovery" caption="Trending" follow-link="true" onplay="vm.play(options)")
