.row
  .col-xs-8(style="height:400px")
    cms-player(embed_code="::vm.episode.embed_code" playlist="vm.season_episodes")
  .col-xs-4
    p Some Ad

.row
  .serie__detail__header
    h1 {{ vm.episode.title }}
    p {{ vm.episode.description }}
    p {{ vm.season.title }}
    p Rating: {{ vm.episode.rating }}
    p Duration: {{ vm.episode.duration | timerFilter }}

.container
  .mt-lg
    cms-billboard-ad(class="mt-lg pb-lg")
  
  .mt-big
    h3 Season
    cms-season(playlist="::vm.season_episodes" followLink="false")
