.row.serie__player
  .col-xs-12.col-sm-7.col-md-8.serie__player-wrap
    cms-player(episode="::vm.asset" options='{"autoplay": true, "checkPlaylist": false}')
  .hidden-xs.col-sm-5.col-md-4.ar-desktop
    cms-billboard-ad(class="center-block adspot" adspot="div-gpt-ad-300x250-0" )
.row.serie__caption
  .col-xs-12.col-sm-7.col-md-8
    .serie__detail__header.pl-lg.pr-lg
      h1 {{ vm.asset.name }}
      p {{ vm.asset.description }}
      p Season: {{ vm.asset.name }}
      p Episode: {{ vm.asset.number }}
      p Rating: {{ vm.asset.rating }}

.container
  .mt-lg.ar-desktop
    cms-billboard-ad(class="mt-lg pb-lg center-block adspot" adspot="div-gpt-ad-970x250-0")
  .mt-lg.ar-mobile
    cms-billboard-ad(class="center-block adspot" adspot="div-gpt-ad-300x250-0")

  .mt-big
    cms-category-x2(playlist="::vm.discovery" caption="Trending" follow-link="false" onplay="vm.play(options)")
