
.slick-slider {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider,
.slick-list {
  position: relative;
  display: block;
  outline: none;
}


.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-slider, .slick-list {
  position: relative;
  display: block;
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
