.search-result-wrap {
  margin-left: 15px;
  margin-right: 15px;
}
.search-result__group {
  height: 300px;
  overflow: hidden;
  color: #fff;
}

.search-data__link {
  display: block;
  color: #fff;
  font: $asset-title;
}

.search-data__description {
  font: $channel-desc;
  overflow: hidden;
  color: #ccc;
}

.search-data__title {
  font: $font-title;
  text-transform: uppercase;
  border-bottom: 3px solid $gray2;
  color: $blue-color;
}

.search-result__image {
  max-height: 150px;
}


@media (max-width: 992px) {
  .search-data__link{
    font: 300 18px/1.2 Helvetica Neue,Helvetica,sans-serif;
  }
  .search-result__group {
    height: 270px;
  }
}

@media (max-width: 767px) {
  .search-result__image{
    max-height: none;
  }
  .search-result__group {
    height:auto;
  }

  .search-data__description {
    height:auto;
  }
  .search-data__description p{
    line-height:22px;
  }

}
