.search-results {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
  overflow-y: auto;
}

.search-results__title,
.search-results__not_found {
  font: $search-result-notfound;
  color: orange;
  text-align: center;
}

.search-results__title {
  text-align: left;
}

.search-results__close {
  color: #fff;
  position: absolute;
  right: 45px;
  top: 20px;
  text-align: right;
}

span.search-results__close-btn:after {
  display: inline-block;
  content: "Close";
}
