
.asset-player {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32485d+0,2a3a4a+47,160d0e+100 */
  background: #32485d; /* Old browsers */
  background: -moz-linear-gradient(top,  #32485d 0%, #2a3a4a 47%, #160d0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #32485d 0%,#2a3a4a 47%,#160d0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #32485d 0%,#2a3a4a 47%,#160d0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32485d', endColorstr='#160d0e',GradientType=0 ); /* IE6-9 */
}

.asset-player__preview {
  width: 100%;
  max-height: 540px;
  overflow: hidden;
}

.asset-player__title {
  font: $asset-title;
  color: #fff;
}

.asset-player__metadata {
  font: $asset-meta;
  color: #fff;
}

.asset-player__social {
  color: $violet;
  font: $asset-meta;
  font-weight: 700;
}

.asset-player__social-icon {
  width: 16px;
  vertical-align: middle;
}

.asset-player__social-icon-fb {
  margin-top: -4px;
}

.player-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.player-container .player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.player-wrapper {
  width: 100%;
  height: 100%;
}
