.row
  .col-xs-12.asset-player
    .row
      .col-sm-offset-2.col-sm-9.mt-big
        .asset-player__preview
          .player-container
            #playerMain.player-wrapper
    .row
      .col-sm-offset-2.col-sm-6.mt-big
        .asset-player__metadata
          p.asset-player__title {{ vm.asset.name }}
          p.asset-player__desc {{ vm.asset.description }}
    .row.mb-big
      .col-sm-offset-2.col-sm-6
        .asset-player__social
          ul.list-inline
            li Share:
            li
              img(src="/assets/images/facebook-logo.png" class="asset-player__social-icon asset-player__social-icon-fb")
              | Facebook
            li
              img(src="/assets/images/twitter-logo.png" class="asset-player__social-icon")
              |  Twitter

.container.mt-lg
  cms-billboard-ad(class="mt-lg pb-lg")
  cms-category-x2(items="vm.episodes" category="vm.category" caption="Episodes" class="mt-lg")



